{% extends 'base.html' %} <br />
{% load static %} <br />
{% block title %}{% endblock title %} <br />

{% block content %} <br />
<link rel="stylesheet" href="{% static 'css/blog.css' %}" />
<link rel="stylesheet" href="{% static 'css/contact.css' %}" />
<link rel="stylesheet" href="{% static 'css/footer.css' %}" />
<div class="container myhome" id="home">
  <div class="row align-items-center">
    <div class="col-lg-6">
      <h5 class="wel">WELCOME</h5>
      <div class="myb"></div>
      <h1 class="text-white ms-0 mb-3 mt-3 me-5">I Am Web Developer</h1>
      <p class="text-white text-muted">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis enim
        mollitia deleniti nam impedit aliquid.
      </p>
      <div class="allicon">
        <a href=""><i class="fab fa-facebook"></i></a>
        <a href=""><i class="fab fa-linkedin fa-1x"></i></a>
        <a href=""><i class="fab fa-whatsapp fa-1x"></i></a>
        <a href=""><i class="fab fa-twitter fa-1x"></i></a>
        <a href=""><i class="fab fa-codepen fa-1x"></i></a>
      </div>
    </div>

    <div class="col-lg-6 myimg">
      <img src="{% static 'img/emad.png' %} " alt="" class="imgpro" />
    </div>
  </div>
</div>

{% comment %} Services {% endcomment %} <br />

<h1 class="text-center mt-5 text-white" id="service">My Services</h1>

<hr class="myhr1">

<div class="services-container">
  <div id="services-top-row">
    <div class="services-glass-card">
      <div class="camera-container">
        <div class="circle">
          <div class="camera-eye">
            <div class="inner-eye">
              <div class="blinking"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="service-card-info">
        <i class="fas fa-code"></i>

        <h2>C/C++</h2>

        <p>
          Physical access controls help protect important or sensitive assets
          within any organization. Stop the hassle of passing out physical keys
          and consider a managed electronic door system.
        </p>
      </div>

      <div class="service-card-video">
        <div class="tool-tip-container">
          <p class="d-none d-lg-block">CLICK PREVIEW BELOW TO VIEW PAGE.</p>

          <p class="d-block d-lg-none">TAP PREVIEW BELOW TO VIEW PAGE.</p>
        </div>

        <figure class="effect-ming">
          <video
            preload="auto"
            playsinline="true"
            loop="true"
            muted="true"
            autoplay="true"
            class="img-fluid"
            poster="{% static 'img/webde.png' %}"
          >
            <source src="{% static 'video/c.mp4' %}" type="video/webm" />
            <source src="{% static 'video/c.mp4' %}" type="video/mp4" />
          </video>
          <figcaption>
            <p>VIEW PAGE</p>
            <a href="/security/access-control" rel="noopener">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="services-glass-card">
      <div class="camera-container">
        <div class="circle">
          <div class="camera-eye">
            <div class="inner-eye">
              <div class="blinking"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="service-card-info">
        <i class="fas fa-file-code mb-5"></i>

        <h2>Web Developing</h2>

        <p>
          Our expert technicians can perform routine computer and network
          maintenance services so that your business systems are always up to
          speed. Digital Upgrade also provides custom maintenance plans based on
          your business's IT needs and wants.
        </p>
      </div>

      <div class="service-card-video">
        <div class="tool-tip-container">
          <p class="d-none d-lg-block">CLICK PREVIEW BELOW TO VIEW PAGE.</p>

          <p class="d-block d-lg-none">TAP PREVIEW BELOW TO VIEW PAGE.</p>
        </div>
        <figure class="effect-ming">
          <img
            src="https://digitalupgrade.com/images/itmaintenance.jpg"
            alt="img09"
            class="img-fluid"
          />
          <figcaption>
            <p>VIEW PAGE</p>
            <a href="/security/access-control" rel="noopener">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="services-glass-card">
      <div class="camera-container">
        <div class="circle">
          <div class="camera-eye">
            <div class="inner-eye">
              <div class="blinking"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="service-card-info">
        <i class="fab fa-python"></i>

        <h2>Python</h2>

        <p>
          Every business should have a video surveillance system in place,
          creating safe work environments for customers and employees. Digital
          Upgrade offers industry-leading video surveillance technology to
          assist in protecting business owners and their business investments.
        </p>
      </div>

      <div class="service-card-video">
        <div class="tool-tip-container">
          <p class="d-none d-lg-block">CLICK PREVIEW BELOW TO VIEW PAGE.</p>

          <p class="d-block d-lg-none">TAP PREVIEW BELOW TO VIEW PAGE.</p>
        </div>
        <figure class="effect-ming">
          <video
            preload="auto"
            playsinline="true"
            loop="true"
            muted="true"
            autoplay="true"
            class="img-fluid"
            poster="images/accesscontrolposter.jpg"
          >
            <source src="{% static 'video/python.mp4' %}" type="video/webm" />
            <source src="{% static 'video/python.mp4' %}" type="video/mp4" />
          </video>
          <figcaption>
            <p>VIEW PAGE</p>
            <a href="/security/access-control" rel="noopener">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div id="services-bottom-row">
    <div class="services-glass-card">
      <div class="gear-container">
        <div class="arrow-placeholder"></div>
        <div class="arrow-circle"></div>
        <div class="gear">
          <div class="tooth-1"></div>
          <div class="tooth-2"></div>
          <div class="tooth-3"></div>
          <div class="tooth-4"></div>
          <div class="tooth-5"></div>
          <div class="tooth-6"></div>
          <div class="tooth-7"></div>
          <div class="tooth-8"></div>
          <div class="tooth-9"></div>
          <div class="tooth-10"></div>
          <div class="tooth-11"></div>
          <div class="tooth-12"></div>
        </div>
      </div>

      <div class="service-card-info">
        <i class="fas fa-paint-brush"></i>

        <h2>WEB DESIGN</h2>

        <p>
          If you're looking for a clean, custom-tailored website for your
          company, Digital Upgrade is unrivaled. Digital Upgrade is Evansville,
          Indiana's leading website design and development company. Digital
          Upgrade can also refresh outdated-looking websites!
        </p>
      </div>

      <div class="service-card-video">
        <div class="tool-tip-container">
          <p class="d-none d-lg-block">CLICK PREVIEW BELOW TO VIEW PAGE.</p>

          <p class="d-block d-lg-none">TAP PREVIEW BELOW TO VIEW PAGE.</p>
        </div>
        <figure class="effect-ming">
          <video
            preload="auto"
            playsinline="true"
            loop="true"
            muted="true"
            autoplay="true"
            class="img-fluid"
            poster="images/accesscontrolposter.jpg"
          >
            <source
              src="https://digitalupgrade.com/images/webdesign.webm"
              type="video/webm"
            />
            <source
              src="https://digitalupgrade.com/images/webdesign.mp4"
              type="video/mp4"
            />
          </video>
          <figcaption>
            <p>VIEW PAGE</p>
            <a href="/security/access-control" rel="noopener">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="services-glass-card">
      <div class="gear-container">
        <div class="arrow-placeholder"></div>
        <div class="arrow-circle"></div>
        <div class="gear">
          <div class="tooth-1"></div>
          <div class="tooth-2"></div>
          <div class="tooth-3"></div>
          <div class="tooth-4"></div>
          <div class="tooth-5"></div>
          <div class="tooth-6"></div>
          <div class="tooth-7"></div>
          <div class="tooth-8"></div>
          <div class="tooth-9"></div>
          <div class="tooth-10"></div>
          <div class="tooth-11"></div>
          <div class="tooth-12"></div>
        </div>
      </div>

      <div class="service-card-info">
        <i class="fab fa-java"></i>

        <h2>JAVA</h2>

        <p>
          Your company or business merits a professional-looking email address.
          Digital Upgrade specializes in company email setup and configuration.
          The professionals at Digital Upgrade will transfer your business data
          and emails from your old company account to your new company email
          account.
        </p>
      </div>

      <div class="service-card-video">
        <div class="tool-tip-container">
          <p class="d-none d-lg-block">CLICK PREVIEW BELOW TO VIEW PAGE.</p>

          <p class="d-block d-lg-none">TAP PREVIEW BELOW TO VIEW PAGE.</p>
        </div>
        <figure class="effect-ming">
          <img
            src="https://digitalupgrade.com/images/companyemail.jpg"
            alt="img09"
            class="img-fluid"
          />
          <figcaption>
            <p>VIEW PAGE</p>
            <a href="/security/access-control" rel="noopener">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>

    <div class="services-glass-card">
      <div class="gear-container">
        <div class="arrow-placeholder"></div>
        <div class="arrow-circle"></div>
        <div class="gear">
          <div class="tooth-1"></div>
          <div class="tooth-2"></div>
          <div class="tooth-3"></div>
          <div class="tooth-4"></div>
          <div class="tooth-5"></div>
          <div class="tooth-6"></div>
          <div class="tooth-7"></div>
          <div class="tooth-8"></div>
          <div class="tooth-9"></div>
          <div class="tooth-10"></div>
          <div class="tooth-11"></div>
          <div class="tooth-12"></div>
        </div>
      </div>

      <div class="service-card-info">
        <i class="fas fa-users"></i>

        <h2>SOCIAL MEDIA</h2>

        <p>
          Digital Upgrade can set up and manage all business social media
          accounts. The professionals at Digital Upgrade want to help
          Evansville, IN businesses thrive digitally, letting companies focus on
          other areas of their business.
        </p>
      </div>

      <div class="service-card-video">
        <div class="tool-tip-container">
          <p class="d-none d-lg-block">CLICK PREVIEW BELOW TO VIEW PAGE.</p>

          <p class="d-block d-lg-none">TAP PREVIEW BELOW TO VIEW PAGE.</p>
        </div>
        <figure class="effect-ming">
          <video
            preload="auto"
            playsinline="true"
            loop="true"
            muted="true"
            autoplay="true"
            class="img-fluid"
            poster="images/accesscontrolposter.jpg"
          >
            <source
              src="https://digitalupgrade.com/images/socialmedia.webm"
              type="video/webm"
            />
            <source
              src="https://digitalupgrade.com/images/socialmedia.mp4"
              type="video/mp4"
            />
          </video>
          <figcaption>
            <p>VIEW PAGE</p>
            <a href="/security/access-control" rel="noopener">View more</a>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>
</div>





{% comment %} Skills {% endcomment %}

<h1 class="text-center text-white mt-5 mb-5" id="skills">Skill <hr class="myhr1" style="background:rgb(255, 233, 36);"></h1>


<div class="skillbar clearfix" data-percent="80%">
  <div class="skillbar-title" style="background: #d35400">
    <span>HTML5</span>
  </div>
  <div class="skillbar-bar" style="background: #e67e22"></div>
  <div class="skill-bar-percent">30%</div>
</div>
<!-- End Skill Bar -->

<div class="skillbar clearfix" data-percent="25%">
  <div class="skillbar-title" style="background: #2980b9">
    <span>CSS3</span>
  </div>
  <div class="skillbar-bar" style="background: #3498db"></div>
  <div class="skill-bar-percent">25%</div>
</div>
<!-- End Skill Bar -->

<div class="skillbar clearfix" data-percent="50%">
  <div class="skillbar-title" style="background: #2c3e50">
    <span>jQuery</span>
  </div>
  <div class="skillbar-bar" style="background: #2c3e50"></div>
  <div class="skill-bar-percent">50%</div>
</div>
<!-- End Skill Bar -->

<div class="skillbar clearfix" data-percent="40%">
  <div class="skillbar-title" style="background: #46465e"><span>PHP</span></div>
  <div class="skillbar-bar" style="background: #5a68a5"></div>
  <div class="skill-bar-percent">40%</div>
</div>
<!-- End Skill Bar -->

<div class="skillbar clearfix" data-percent="75%">
  <div class="skillbar-title" style="background: #333333">
    <span>Wordpress</span>
  </div>
  <div class="skillbar-bar" style="background: #525252"></div>
  <div class="skill-bar-percent">75%</div>
</div>
<!-- End Skill Bar -->

<div class="skillbar clearfix" data-percent="100%">
  <div class="skillbar-title" style="background: #27ae60"><span>SEO</span></div>
  <div class="skillbar-bar" style="background: #2ecc71"></div>
  <div class="skill-bar-percent">100%</div>
</div>
<!-- End Skill Bar -->

<div class="skillbar clearfix" data-percent="70%">
  <div class="skillbar-title" style="background: #124e8c">
    <span>Photoshop</span>
  </div>
  <div class="skillbar-bar" style="background: #4288d0"></div>
  <div class="skill-bar-percent">70%</div>
</div>
<!-- End Skill Bar -->

{% comment %} Blog Site {% endcomment %}

<h1 class="text-center text-white mt-5" id="blog">Blog</h1>
<hr class="myhr1 mb-5">
<section class="blog">
  {% for myb in blog %}
  <a href="#" class="container">
    
    <div class="card">
      <div class="content text-dark" style="font-weight:400; font-family: "Jaldi", sans-serif; font-size:calc(var(--bu) * 0.75); text-decoration: none;padding: 0;
      margin: 0;
      box-sizing: border-box;">
        <h3 class="title">{{myb.title}}</h3>
        <div class="tags">
      
          <span style="font-size: 13px">
            
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-calendar"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"
              /></svg
              <small>{{myb.post_date}}</small
          ></span
        >
          <span style="font-size: 13px"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-eye-fill"
              viewBox="0 0 16 16"
            >
              <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
              <path
                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"
              />
            </svg>
            visibility <small>4k</small></span
          >
          <span style="font-size: 13px">
            
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-chat-left-fill"
                viewBox="0 0 16 16"
              >
                <path
                  d="M2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"
                /></svg
                <small> comment 45</small
            ></span
          >
        </div>
        <div class="text">
          <p>
            {{myb.post_data}}
          </p>
        </div>
        <span class="material-icons-round"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="40"
            height="40"
            fill="currentColor"
            class="bi bi-arrow-up-circle-fill"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z"
            /></svg
        ></span>
      </div>
    </div>
    <figure>
      <img src="{{myb.blog_image.url}}" />
    </figure>
  </a>
  {% endfor %}
  
</section>


{% comment %} Contact {% endcomment %}

<h1 class="text-center text-white mt-4" id="contact1">Contact</h1>
<hr class="myhr1 context">
<section id="contact mt-5">
  <div class="contact-box">
    <div class="contact-links">
      <h2>CONTACT</h2>
      <div class="links">
        <div class="link">
          <a><img src="https://i.postimg.cc/m2mg2Hjm/linkedin.png" alt="linkedin"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/YCV2QBJg/github.png" alt="github"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/W4Znvrry/codepen.png" alt="codepen"></a>
        </div>
        <div class="link">
          <a><img src="https://i.postimg.cc/NjLfyjPB/email.png" alt="email"></a>
        </div>
      </div>
    </div>
    <div class="contact-form-wrapper">
      <form method="POST" action="/">
        {% csrf_token %}
        <div class="form-item">
          <input type="text" name="sender" required>
          <label>Name:</label>
        </div>
        <div class="form-item">
          <input type="text" name="email" required>
          <label>Email:</label>
        </div>
        <div class="form-item">
          <textarea class="" name="message" required></textarea>
          <label>Message:</label>
        </div>
        <button type="submit" class="submit-btn">Send</button>  
      </form>
    </div>
  </div>
</section>


{% comment %} Footer {% endcomment %}


<link href="https://use.fontawesome.com/releases/v5.0.1/css/all.css" rel="stylesheet">

<footer>
  <div class="row-footer">
    <div class="site-logo">
      <span>EmadLu</span>
      <ul class="main-nav">
        <li class="item1">
          <span>E</span>
        </li>
        <li class="item2">
          <span>M</span>
        </li>
        <li class="item3">
          <span>A</span>
        </li>
        <li class="item4">
          <span>D</span>
        </li>
      </ul>
    </div>
    <div class="site-links">
      <span>Laguages</span>
      <ul class="list-links">
        <li><a>Python</a></li>
        <li><a>Java</a></li>
        <li><a>JavaScript</a></li>
        <li><a>HTML & CSS / SCSS</a></li>
      </ul>
    </div>
    <div class="adr-email">
      <span>Address</span>
      <ul class="">
        <li class="location"><a><i class="fas fa-map-pin"></i>Sylhet, Golapgonj, Dhakadakshin</a></li>
        <li class="email"><a href="mailto:amadahmed1234678@gmail.com?subject=subject text">amadahmed1234678@gmail.com</a></li>
      </ul>
    </div>
    <div class="subscribe-form">
      <input type="email" placeholder="Your E-Mail Address">
      <button type="submit">Subscribe</button>
      <p>I respect your privacy. Unsubscribe at any time.</p>
    </div>
  </div>

  <hr class = "mainhr">

  <div class="row-footer">
    <div class="follow-icons">
      <li><span>Follow me here</span></li>
      <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
      <li><a href="#"><i class="fab fa-instagram"></i></a></li>
      <li><a href="#"><i class="fab fa-twitter"></i></a></li>
      <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
      <li><a href="#"><i class="fab fa-github"></i></a></li>
      <li><a href="#"><i class="fab fa-stack-overflow"></i></a></li>
      <li><a href="#"><i class="fab fa-codepen"></i></a></li>
    </div>
  </div>


  <div class="row-footer">
    <div class="right-dis">Made with <i style="color: red; font-size: 12px;" class="fas fa-heart"></i> by <strong>Emad Ahmed</strong></div>
    <div class="left-dis">Copyright <strong>CodePy</strong> © 2022. All the rights are reserved.</div>
  </div>

</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="{% static 'js/new.js' %}"></script>
<script src="{% static 'js/nav.js' %}"></script>
<script src="{% static 'js/home.js' %}"></script>
{% endblock content %}
